body {
    font-family: 'Rubik Mono One';
    main {
        position: relative;
        top: 50px;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;

        .home {
            width: 100%;
            height: auto;

            .robot_ur1 {
                position: absolute;
                max-width: 30vw;
                min-width: 15vw;
                height: auto;
                right: 0;
            }
            .robot_dr1 {
                position: relative;
                max-width: 30vw;
                min-width: 15vw;
                height: auto;
                left: 0;
                top: 250px;
            }
            .home,
            h2,
            h3,
            p {
                position: relative;
                display: flex;
                justify-content: center;
                text-align: center;
                color: #FFFFFF;
                font-size: 18px;
                top: 250px;
            }
            #carouselExampleControls {

                position: relative;
                top: 200px;
                margin-top: 50px;
                margin-bottom: 50px;

            }

        }
        main.active {
            position: relative;
            top: 500px;

        }
        .about {
            display: flex;
            flex-direction: column;
            color: #ffffff;

            .title {
                justify-content: center;
                text-align: center;
                h1 {
                    font-weight: 900;
                    padding-top: 20px;
                }
            }

            .span_orange {
                height: 5px;
                width: 220px;
                background-color: #FF6C02;
                display: inline-block;
            }

            .blue {
                background-color: #355AB9;
                height: auto;
                margin-top: 300px;
                width: 100%;

            }
            .img_about_1 {
                max-width: 90vw;
                min-width: 80vw;
                height: auto;

            }
            section {
                padding-top: 100px;

                h2 {

                    font-size: 24px;
                    font-weight: 900;
                    padding-bottom: 10px;
                    padding-left: 20px;
                }
                p {
                    padding-bottom: 50px;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: justify;
                }

                .img_about_2 {

                    position: relative;
                    max-width: 50vw;

                    height: auto;
                    left: 30%;
                    padding-bottom: 100px;

                }
            }
        }
        .services {
            display: flex;
            text-align: center;
            flex-direction: column;

            color: #ffffff;
            .title {
                justify-content: center;
                text-align: center;
                h1 {
                    font-weight: 900;
                    padding-top: 20px;
                }
            }
            .span_orange {
                height: 5px;
                width: 220px;
                background-color: #FF6C02;
                display: inline-block;
            }
            .services_main {
                display: grid;
                justify-content: center;
                width: 100%;
                margin-top: 100px;
                grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
                gap: 40px;
                .cards_one {
                    display: block;
                    width: 250px;
                    height: 500px;
                    background: linear-gradient(#FFFFFF 50%,#FFC700 50%);
                    border-radius: 20px;
                    text-align: start;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.473));
                    .gif {
                        width: 200px;
                        height: auto;
                        position: relative;
                        left: 25px;

                    }
                    .cards_logo {
                        position: relative;

                        left: 75px;

                    }
                    h1 {
                        font-family: 'Rubik Mono One';
                        font-size: 24px;
                        font-weight: 900;

                        margin-left: 10px;
                    }
                    p {
                        font-family: 'Rubik Mono One';
                        font-size: 16px;
                        font-weight: 50;

                        text-align: start;
                        margin-left: 10px;

                    }
                }
                .cards_two {
                    display: block;
                    width: 250px;
                    height: 500px;
                    background: linear-gradient(#FFFFFF 50%,#FF6C02 50%);
                    border-radius: 20px;
                    text-align: start;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.473));
                    .gif {
                        width: 200px;
                        height: auto;
                        position: relative;
                        left: 25px;

                    }
                    .cards_logo {
                        position: relative;

                        left: 75px;

                    }
                    h1 {
                        font-size: 24px;
                        font-weight: 900;

                        margin-left: 10px;
                    }
                    p {
                        font-family: 'Rubik Mono One';
                        font-size: 16px;
                        font-weight: 50;

                        margin-left: 10px;
                    }
                }

            }
        }
        .portfolio{
            display: flex;
            flex-direction: column;
            color: #ffffff;

            .title {
                justify-content: center;
                text-align: center;
                h1 {
                    font-weight: 900;
                    padding-top: 20px;
                }
            }

            .span_orange {
                height: 5px;
                width: 220px;
                background-color: #FF6C02;
                display: inline-block;
            }

            .blue {
                background-color: #355AB9;
                height: auto;
                margin-top: 300px;
                width: 100%;

            }
        }
    }

}
