footer{
    
    margin-top: 270px;
    
    .blue{
        background-color: #355AB9;
                height: 70px; 
        width: 100%;
        display: flex; 
        justify-content: center;         
    }
    
    a{
        img{
            width: 70px;
            height: auto;
        }
    }
}